<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- account, menu icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,menu"
    />

    <link rel="icon" href="/assets/icons/favicon.png" type="image/svg+xml" />

    <!-- Local Styles -->
    <link rel="stylesheet" href="/styles/recordView.css" />

    <title>CRUD</title>
  </head>

  <body>
    <div id="main-box">
      <%- include("../partials/navbar.ejs") %>
      
      <div class="div-tables-section">
        <table id="small-table">
          <caption class="small-table-caption">
            Ukupan Broj Evidencija
          </caption>
          <thead>
            <tr>
            <% if (totalPlantsData && totalPlantsData.length > 0) { %> <%
            totalPlantsData.forEach(item => { %>
              <th><%= item.naziv %> <%= item.sifra %></th>
            <% }) %> <% } else { %>
            <tr>
              <td colspan="3">No records found.</td>
            </tr>
            <% } %>
            </tr>
          </thead>
          <tbody>
            <tr>
            <% if (totalPlantsData && totalPlantsData.length > 0) { %> <%
            totalPlantsData.forEach(item => { %>
              <th><%= item.ukupanbrojelektrana %></th>
            <% }) %> <% } else { %>
            <tr>
              <td colspan="3">No records found.</td>
            </tr>
            <% } %>
            </tr>
          </tbody>
        </table>

        <p class="table-text-bellow">*tipovi elektrana</p>

        <div id="div-filter-form">

          <form action="/viewPage/recordsViewPage" method="GET" id="filter-form">
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Search by Name"
              value="<%= name || '' %>"
            />
            <div class="filter-submit">
              <button
                type="submit"
                id="submit-filter"
                class="form-submit-filter"
              >
                Filter
              </button>
            </div>
          </form>
        </div>

        <table>
          <caption>
            Lista Evidencija Elektrana
          </caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Naziv Elektrane</th>
              <th>Mesto</th>
              <th>Adresa</th>
              <th>Datum Puštanja u Rad</th>
              <th>Šifra Vrste Pogona</th>
              <th>Dokumenti</th>
              <th>Ažuriraj</th>
              <th>Obriši</th>
            </tr>
          </thead>
          <tbody>
            <% if (records && records.length > 0) { %> <% records.forEach(record => { %>
            <tr>
              <td><%= record.id %></td>
              <td><%= record.nazivelektrane %></td>
              <td><%= record.mesto %></td>
              <td><%= record.adresa %></td>
              <td>
                <%= new
                Date(record.datumpustanjaurad).toISOString().split('T')[0] %>
              </td>
              <td><%= record.sifravrstepogona %></td>

              <td>
                <% if (record.files && record.files.length > 0) { %>
                   <% record.files.forEach(file => { %>
                      <a href="<%= uploadsUrl %>/<%= file.filename %>" download>
                        <%= file.original_name.slice(0, 10) + '...' %>
                      </a>
                      <br />
                      <br />
                    <% }) %>
                <% } else { %>
                <em>No files</em>
                <% } %>
              </td>

              <td>
                <form
                  action="/viewPage/addRecord/<%= record.id %>"
                  method="GET"
                  style="display: inline"
                >
                  <button type="submit" class="update-record">Update</button>
                </form>
              </td>
              <td>
                <form
                  action="/records/delete/<%= record.id %>"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="delete-record">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %> <% } else { %>
            <tr>
              <td colspan="8">No records found.</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include("../partials/footer.ejs") %>
    <script src="/scripts/hamburger_menu/toggleMenu.js"></script>
  </body>
</html>
