<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- account,menu icon bellow -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,menu"
    />

    <link rel="icon" href="/assets/icons/favicon.png" type="image/svg+xml" />

    <!-- Local Styles -->
    <link rel="stylesheet" href="/styles/addRecord.css" />

    <title>Update User</title>
  </head>
  <body>
    <div id="main-box">
      <%- include("../partials/navbar.ejs") %>
      <section id="header-section-form">
        <h2>User Update</h2>
        <form
          action="<%='/users/update/' + profile.id %>"
          method="POST"
          class="form-style"
        >
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            placeholder="user@mail.domen"
            value="<%= profile ? profile.email : '' %>"
            class="<%= locals.errors.length>0 ? 'input-error' : '' %>"
            required
          />
          <label for="surname">Surname</label>
          <input
            type="text"
            name="surname"
            placeholder="John"
            value="<%= profile ? profile.surname : '' %>"
            class="<%= locals.errors.length>0 ? 'input-error' : '' %>"
            required
          />
          <label for="lastname">Lastname</label>
          <input
            type="text"
            name="lastname"
            placeholder="Doe"
            value="<%= profile ? profile.lastname : '' %>"
            class="<%= locals.errors.length>0 ? 'input-error' : '' %>"
            required
          />
          <label for="is_admin">Admin Status</label>
          <input type="checkbox" id="is_admin" name="is_admin" value="true" <%=
          profile && profile.is_admin ? 'checked' : '' %> class="<%=
          locals.errors.length > 0 ? 'input-error' : '' %>" >

          <div class="submit-row">
            <%- include("../partials/errors.ejs") %>
            <button type="submit" class="form-submit-button">
              Update User
            </button>
          </div>
        </form>
      </section>
    </div>
    <%- include("../partials/footer.ejs") %>

    <script src="/scripts/hamburger_menu/toggleMenu.js"></script>
  </body>
</html>
