<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- account, menu icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,menu"
    />

    <link rel="icon" href="/assets/icons/favicon.png" type="image/svg+xml" />

    <!-- Local Styles -->
    <link rel="stylesheet" href="/styles/recordView.css" />

    <title>CRUD</title>
  </head>

  <body>
    <div id="main-box">
      <%- include("../partials/navbar.ejs") %>

      <div class="div-tables-section">
        <p>Filter users by email:</p>
        <div id="div-filter-form">
          <form action="/viewPage/users" method="GET" id="filter-form">
            <input
              id="email"
              name="email"
              type="text"
              placeholder="Search by Email"
              value="<%= email || '' %>"
            />
            <div class="filter-submit">
              <button
                type="submit"
                id="submit-filter"
                class="form-submit-filter"
              >
                Filter
              </button>
            </div>
          </form>
        </div>

        <table>
          <caption>
            Lista Korisnika
          </caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Surename</th>
              <th>Lastname</th>
              <th>Admin Status</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if (data && data.length > 0) { %> <% data.forEach(user => { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.email %></td>
              <td><%= user.surname %></td>
              <td><%= user.lastname %></td>
              <td><%= user.is_admin %></td>
              <td>
                <form
                  action="/viewPage/updateUser/<%= user.id %>"
                  method="GET"
                  style="display: inline"
                >
                  <button type="submit" class="update-record">Update</button>
                </form>
              </td>
              <td>
                <form
                  action="/users/delete/<%= user.id %>"
                  method="POST"
                  style="display: inline"
                >
                  <button type="submit" class="delete-record">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %> <% } else { %>
            <tr>
              <td colspan="8">No records found.</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include("../partials/footer.ejs") %>
    <script src="/scripts/hamburger_menu/toggleMenu.js"></script>
  </body>
</html>
